<!doctype html>
    <html lang="eng">
            <!-- ====================================================================== -->
        

                <div class="abt">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="wrapper">
                                    <h2>Services</h2>
                                    <ol>
                                        <li>Home <i class="fa fa-arrow-right"></i></li>
                                        <li>Services</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-05" >
                    <div class="container-fluid" style="background: url(assets/images/abt-img/5.jpg);">
                        <div class="row">
                            <div class="col-12">
                                <div class="heading">
                                    <span>Services</span>
                                    <h2>The fields on which <br>we give servies</h2>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="wrapper">
                                    <div class="inner-content">
                                        <ol>
                                            <li>
                                                <i class="fal fa-plane"></i>
                                                <h4>Immigrant Visas</h4>
                                                <p> Save up to 10% when you insure your property &amp; autos with company.</p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="wrapper">
                                    <div class="inner-content">
                                        <ol>
                                            <li>
                                                <i class="fal fa-plane"></i>
                                                <h4>Immigrant Visas</h4>
                                                <p> Save up to 10% when you insure your property &amp; autos with company.</p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="wrapper">
                                    <div class="inner-content">
                                        <ol>
                                            <li>
                                                <i class="fal fa-user-shield"></i>
                                                <h4>Local Visas</h4>
                                                <p>Drive down your rates with car insurance discounts and premium reductions.</p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="wrapper">
                                    <div class="inner-content">
                                        <ol>
                                            <li>
                                                <i class="fal fa-briefcase-medical"></i>
                                                <h4>Medical Visas</h4>
                                                <p> Save up to 10% when you insure your property &amp; autos with company.</p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="wrapper">
                                    <div class="inner-content">
                                        <ol>
                                            <li>
                                                <i class="fal fa-graduation-cap"></i>
                                                <h4>Student Visa</h4>
                                                <p> Save up to 10% when you insure your property &amp; autos with company.</p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="wrapper">
                                    <div class="inner-content">
                                        <ol>
                                            <li>
                                                <i class="flaticon-analytics"></i>
                                                <h4>Advanced Analytic</h4>
                                                <p>Save up to 10% when you insure your property &amp; autos with company.</p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
       
            <!-- ====================================================================== --> 
    </html>